html{
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    background-color: $color-black;
}